ul {
  list-style-type:none;
}

.Jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px 0px;
    background-color: #b5076b;
    color:black;
}

.navbar {
    background-color: #45046a;
    color: white;
    font: 25px Arial, sans-serif
}

.gs {

    background-color: #f1ebbb ;
}

.card {
  background-color: #E6E6FA;
  margin:10px auto;
  border-radius: 10px;
  margin-bottom: 1%;

}
.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.footer {
  background-color: #f5a7a7;
}

@media screen and (max-width: 600px) {
  .picture {
    flex-direction: column;
    width:"200px";
    height:"150px";
  }
}
